{{extend 'layoutindex.html'}}

      <div class="jumbotron">
        <h1>Een eigen afspraken website in vier stappen.</h1>
        <p class="lead">in vier eenvoudige stappen maakt u, uw eigen afspraakassistent. Boeken via internet was nog nooit zo makkelijk. En niet onbelangrijk.... helemaal gratis.</p>
        <a class="btn btn-large btn-success" href="{{=URL('mijnafspraakassistent')}}">Maak een afspraakassistent</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Voorbeeld 1</h4>
          <p>Pietje heeft na jaren twijfelen eindelijk zijn eigen afsprakensite. <a href="{{=URL('usersite',args=['bami'])}}" class="btn btn-primary btn-mini" type="button">bekijk</a></p>

          <h4>Voorbeeld 3</h4>
          <p>Pietje heeft na jaren twijfelen eindelijk zijn eigen afsprakensite. <a href="{{=URL('usersite',args=['bami'])}}" class="btn btn-primary btn-mini" type="button">bekijk</a></p>
        </div>

        <div class="span6">
          <h4>Voorbeeld 2</h4>
          <p>Pietje heeft na jaren twijfelen eindelijk zijn eigen afsprakensite. <a href="{{=URL('usersite',args=['bami'])}}" class="btn btn-primary btn-mini" type="button">bekijk</a></p>

          <h4>Voorbeeld 4</h4>
          <p>Pietje heeft na jaren twijfelen eindelijk zijn eigen afsprakensite. <a href="{{=URL('usersite',args=['bami'])}}" class="btn btn-primary btn-mini" type="button">bekijk</a></p>
        </div>
      </div>
